<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297554476203-80c2ljbp0nm00j90p3qd5ltauqmp27ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297554476203-80c2ljbp0nm00j90p3qd5ltauqmp27ei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297554476203-62jnmra941ulgq3hgm2dieuskp88v96o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDj0ms4ldM4104z9goyrmM-coJzNjdz0AI</string>
	<key>GCM_SENDER_ID</key>
	<string>297554476203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DinnerTable.DinnerTable</string>
	<key>PROJECT_ID</key>
	<string>dinnertable-56c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>dinnertable-56c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:297554476203:ios:bf1035d2d6cdd409658bee</string>
	<key>DATABASE_URL</key>
	<string>https://dinnertable-56c1c.firebaseio.com</string>
</dict>
</plist>
